# Virtual environment
.venv/
venv/
ENV/
env/
.env
webappenv

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
media/
staticfiles/
.DS_Store

# VSCode settings
.vscode/