/*colors: 
    blue: 018cc6
    green: 89ba3d
    yellow ffe900
    orange f8761e
    pink f53c8a
    beige fdf1d9
*/

html {
    user-select: none;
}

p {
    margin: 0;
}

.container-fluid, .main-content {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* animation: gradientAnimation 15s ease infinite, changeColor 10s linear infinite; */
    /* background: #5c57ad; */
    background-image: url(../img/aurora.jpg);
    background-size: cover;
}

.header {
    height: 6em;
    background-color: #f0f0f0;
    font-family: 'Press Start 2P';
    text-shadow: 1px 1px 2px #000000;
    color:#ffffff !important;
    background: linear-gradient(to bottom, #8581c7,#4740a8 100%);
    flex-direction: row;
    display: flex;
    align-items: center;
    border-bottom: 0.06em solid #353333;
    position: sticky;
    top: 0;
    width: 100%;
}

.header-col {
    width: 33.333333%;
}

.header-logo {
    margin-left: 0.5em;
}

.header-logo > img {
    border: 0.02em solid #353333;
    max-height: 4em;
}

.header-text {
    display: flex;
    justify-content: center;
    font-size: 3em;
    text-shadow: 1px 1px 2px #000000;
}

.header-text > p {
    margin: 0.15em 0 0 0;
}

.header-login-logout-button {
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
    margin-top: 0.2em;
}

.login-logout-button {
    background: linear-gradient(to bottom, #56565f,#706f7a 100%);
    border: 0.1em solid #353333;
    position: relative;
    text-shadow: 1px 1px 2px #000000;
    overflow: hidden;
    white-space: nowrap;
}

.login-logout-button:hover {
    border: 0.1em solid #353333;
    color: #2d2c2e;
    text-shadow: 1px 1px 2px #ffffff;
}

.main-content {
    flex-grow: 1;
    overflow-y: auto;
}

.footer {
    height: 3em;
    background: linear-gradient(to bottom,#4740a8 0,#8581c7 100%);
    font-family: 'Press Start 2P';
    text-shadow: 1px 1px 2px #000000;
    border-top:  0.12em solid #353333;
    color:#ffffff !important;
    font-size:1em;
    flex-direction: row;
    display: flex;
    align-items: center;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    position: sticky;
}

.footer-col {
    width: 50%;
}

.footer-text {
    display: flex;
    margin-left: 1vw;
}

.footer-text > p{
    margin: 0;
}

.footer-settings {
    display: flex;
    justify-content: flex-end;
    margin-right: 1vw;
}

.footer-settings > p{
    margin: 0;
}

.footer-settings button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
    text-shadow: 1px 1px 2px #000000;
}

.footer-settings button:hover {
    color: #2d2c2e;
    text-shadow: 1px 1px 2px #ffffff;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
    padding: 3em;
}

.login-container {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 32px 48px 38px 48px;
    border-radius: 8px;
    border: 0.1em solid #000000;
}

.login-instructions {
    font-family: 'Press Start 2P';
    text-shadow: 1px 1px 2px #000000;
    color:#ffffff !important;
    font-size:1em;
    margin-bottom: 1.8em;
}

.login-instructions > p{
    text-align: center;
}

.signin-button {
    background: linear-gradient(to bottom,#2a1ece 0,#6058c5 100%);
    border: 0.1em solid #353333;
    position: relative;
    text-shadow: 1px 1px 2px #000000;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 1vh;
}

.signin-button:hover {
    color: #2d2c2e;
    text-shadow: 1px 1px 2px #ffffff;
    border: 0.1em solid #353333;
    filter:brightness(90%);
}

.signin-42-button {
    background: linear-gradient(to bottom, #00A881,#06ce9f 100%);
    border: 0.1em solid #353333;
    position: relative;
    text-shadow: 1px 1px 2px #000000;
    overflow: hidden;
    white-space: nowrap;
}

.signin-42-button:hover {
    color: #2d2c2e;
    text-shadow: 1px 1px 2px #ffffff;
    border: 0.1em solid #353333;
    filter:brightness(90%);
}

.signin-or-text > p{
    font-family: 'Press Start 2P';
    text-shadow: 1px 1px 2px #000000;
    color:#ffffff !important;
    font-size:0.7em;
    margin: 0;
    text-align: center;
    margin-top: 0.8vh;
    margin-bottom: 0.8vh;
}

.form-control-new {
    width: 100%;
}

.login-form-field {
    margin-bottom: 1vh;
}

.menu {
    flex-direction: row;
    display: flex;
    padding: 3em;
    /* height: calc(100vh - 9em); */
    /* margin-top: 6em; */
}

.menu-friends {
    width: 35%;
    /* padding: 4vh; */
    padding-right: 0;
    font-family: 'Press Start 2P';
}

.menu-gamemodes {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* justify-content: center; */
    align-items: flex-end;
    padding-left: 10vw;
}

.menu-friends-container {
    /* height: calc(100vh - 9em); */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2em;
    padding-bottom: 1em;
    border-radius: 8px;
    border: 0.1em solid #000000;
    overflow: scroll;
    flex-direction: column;
    display: flex;
}

.menu-friends-header {
    font-size: 1.6em;
    color: #d8d3d3;
    text-shadow: 1px 1px 2px #000000;
    text-align: center;
}

/* .menu-friends-header > p {
    margin-top: 1em;
    margin-bottom: 0;
} */

.friends-divider {
    height: 4px;
    background-color: #d8d3d3;
}

.friends-online-header {
    color: #049127;
    font-size: 1.6em;
    text-shadow: 1px 1px 2px #000000;
}

.friends-online-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #d8d3d3;
    text-shadow: 1px 1px 2px #000000;
    font-size:1em;
    margin-left: 1em;
    height: 13.6em;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.friends-online-list::-webkit-scrollbar {
    display: none;
}

.friends-offline-header {
    color: #af210e;
    font-size: 1.6em;
    text-shadow: 1px 1px 2px #000000;
}

.friends-offline-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #d8d3d3;
    text-shadow: 1px 1px 2px #000000;
    font-size:1em;
    margin-left: 1em;
    height: 13.6em;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.friends-offline-list::-webkit-scrollbar {
    display: none;
}

.friends-options {
    color: #d8d7d3;
    text-shadow: 1px 1px 2px #000000;
    flex-direction: row;
    display: flex;
    font-size: 1.2em;
    margin-top: auto;
}

.friends-options-add {
    width: 100%;
    text-align: center;
}

.friends-options button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
    text-shadow: 1px 1px 2px #000000;   
}

.friends-options button:hover {
    color: #2d2c2e;
    text-shadow: 1px 1px 2px #ffffff;
}

.menu-item {
    text-align: left;
    /* height: 8.78em; */
    width: 110%;
    border-radius: 4px;
    position: relative;
    font-family: 'Press Start 2P';
    padding: 1.35em;
    color: #d8d3d3;
    text-shadow: 1px 1px 2px #000000;
    transition: transform 0.3s ease;
    border: 0.1em solid #292424;
    filter:brightness(100%);
    overflow: hidden;
}

.menu-item > h1 {
    font-size: 3em;
}

.menu-item > p {
    font-size: 1em;
}

.menu-item:hover {
    transform: translate(-50px, 4px);
    filter:brightness(90%);
    color: #ffffff;
    border: 0.11em solid #292424;
}

#menu-item-local {
    background: linear-gradient(to bottom, rgba(221, 88, 10, 0.7) 0%, rgba(226, 121, 60, 0.7) 100%);
}

#menu-item-online {
    background: linear-gradient(to bottom, rgba(7, 112, 24, 0.7) 0%, rgba(15, 156, 39, 0.7) 100%);
}

#menu-item-tournament {
    background: linear-gradient(to bottom, rgba(71, 64, 168, 0.7) 0%, rgba(133, 129, 199, 0.7) 100%);
}

#menu-item-multiplayer {
    background: linear-gradient(to bottom, rgba(219, 22, 32, 0.7) 0%, rgba(241, 48, 58, 0.7) 100%);
}

#menu-item-dashboard {
    background: linear-gradient(to bottom, rgba(206, 31, 162, 0.7) 0%, rgba(221, 62, 181, 0.7) 100%);
}

@keyframes changeColor {
    0% {
        background-color: #5c57ad;
    }
    25% {
        background-color: #6a67ce;
    }
    50% {
        background-color: #5756a8;
    }
    75% {
        background-color: #5c59b8;
    }
    100% {
        background-color: #5c57ad;
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    font-family: 'Press Start 2P';
    overflow: hidden;
}

.modal-modify {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    font-family: 'Press Start 2P';
    overflow: hidden;
}

.modal-content {
    background-color: rgba(54, 52, 52, 1.0);
    border: 0.1em solid #000000;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    /* border: 1px solid #888; */
    width: 40%; /* Could be more or less, depending on screen size */
    border-radius: 0.5vw;
}

.modal-content-modify {
    background-color: rgba(54, 52, 52, 1.0);
    border: 0.1em solid #000000;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    /* border: 1px solid #888; */
    width: 40%; /* Could be more or less, depending on screen size */
    border-radius: 0.5vw;
}

.close-button {
    position: absolute;
    top: 0.3vh;
    right: 0.5vw;
    color: #aaa;
    float: right;
    font-size: 2vw;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    line-height: 1;
    font-family: 'Courier New', Courier, monospace;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.friends-add-header {
    text-shadow: 1px 1px 2px #000000;
    color:#ffffff !important;
    font-size:1vw;
    margin-left: 1vw;
}

.friends-add-divider1 {
    height: 0.5vh;
    background-color: #d8d3d3;
    margin: 0.5vh;
    width: 13.2vw;
}

.friends-add-input-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px; /* Space between input and button */
    margin-top: 2vh; /* Space above the input container */
}

#friendUsername {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 16vw; /* Adjust the width as needed */
    height: 4vh;
    margin-left: 0.4vw;
    font-family: 'Courier New', Courier, monospace;
}

#sendInvitationButton {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
    text-shadow: 1px 1px 2px #000000;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1vw;
    color:#047e0e !important;
}

#sendInvitationButton:hover {
    color: #2d2c2e;
    text-shadow: 1px 1px 2px #ffffff;
}

.friends-add-lists {
    color: #d8d3d3;
    text-shadow: 1px 1px 2px #000000;
    flex-direction: row;
    display: flex;
    font-size:1.4vw;
    margin-top: 4vh;
}

.friends-add-list-item {
    width: 33.333333%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.friends-add-divider2 {
    height: 0.3vh;
    background-color: #d8d3d3;
    margin: 0.5vh;
    width: 10vw;
    align-self: center;
}

.friends-add-list-header {
    color: #ffffff;
    font-size:1vw;
    text-shadow: 1px 1px 2px #000000;
    margin-top: 0.8vh;
    text-shadow: 1px 1px 2px #000000;
}

.friends-add-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #d8d3d3;
    text-shadow: 1px 1px 2px #000000;
    font-size:1vw;
    margin-left: 2vw;
    min-height: 4vh;
    max-height: 20vh;
    max-width: 67%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #047e0e;
    text-align: left;
}

.friends-add-list::-webkit-scrollbar {
    display: none;
}

/* .invitation-message {
    margin-top: 10px;
    font-size: 0.6vw;
    color: #ff0000;
    text-align: center;
} */

.invitation-message {
    position: absolute; /* Position it absolutely within the modal content */
    top: 14vh; /* Adjust as needed */
    left: 2vw;
    font-size: 0.6vw;
    color: #ff0000;
    text-align: left;
    width: auto; /* Adjust the width as needed */
    transform-origin: center;
    text-shadow: 1px 1px 1px #000000;
}

@keyframes wiggle {
    0%, 100% {
        transform: rotateZ(2deg)
    }
    25% {
        transform: rotateZ(-2deg);
    }
    50% {
        transform: rotateZ(2deg);
    }
    75% {
        transform: rotateZ(-2deg);
    }
}

.login-form-field {
    font-family: 'Press Start 2P';
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.login-form-field::-webkit-scrollbar {
    display: none;
}

.settings-label {
    color: white;
    font-size: 0.6vw;
}

.settings-input {
    font-size: 0.6vw;

}

#settingsForm > div{
    margin: 20px;
}

.login-messages {
    top: 14vh; /* Adjust as needed */
    left: 2vw;
    font-size: 0.8vw;
    color: #ff0000;
    text-align: left;
    width: auto; /* Adjust the width as needed */
    transform-origin: center;
    text-shadow: 1px 1px 1px #000000;
}

.friends-add-list-user {
    position: relative;
}

.remove-button {
    display: none; /* Hide the button by default */
    position: absolute; /* Position it absolutely within the list item */
    top: 50%; /* Center vertically */
    right: 10px; /* Position it to the right */
    transform: translateY(-50%); /* Adjust for vertical centering */
    background: red; /* Red background */
    color: white; /* White text */
    border: none; /* Remove border */
    border-radius: 50%; /* Make it circular */
    cursor: pointer; /* Pointer cursor on hover */
    padding: 5px; /* Adjust padding as needed */
}

.list-item-content:hover {
    color: #504948;
}

.friends-add-divider3 {
    height: 0.5vh;
    background-color: #d8d3d3;
    margin: 0.5vh;
    margin-bottom: 0;
    width: 18.4vw;
}

.friends-modify-username {
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
    flex-direction: row;
    display: flex;
    font-size: 1vw;
    margin-top: 2vh;
    margin-left: 0.4vw;
    margin-bottom: 2vh;
    overflow: hidden;
}

.friends-modify-button button {
    margin-bottom: 1.2vh;
    display: none;
}

.friends-modify-button:hover button{
    background-color: #1792ca;
    color: white;
}

#closeFriendsModifyModalButton {
    position: absolute;
    top: 33vh;
    right: 30.5vw;
}
