/*colors: 
    blue: 018cc6
    green: 89ba3d
    yellow ffe900
    orange f8761e
    pink f53c8a
    beige fdf1d9
*/

body {
    background-color: #fdf1d9;
    /* background:linear-gradient() */
}

form {
    padding: 100px;
}

.container {
    margin: auto;
}

.form-floating {
    padding: 5px;
}

.btn-primary {
    background-color: #f8761e;
}

.login-container {
    background-color: #018cc6;
}

.messages .error {
    color: red;
}